language: node_js
sudo: false
node_js:
  - "stable"
branches:
  only:
    - master
cache:
  directories:
    - node_modules
before_install:
  - npm update
  - sudo apt-get update
  - npm install --global http-server
install:
  - npm install
  - npm build
script:
  - npm test
  - npm run coveralls
